
<div class="container-fluid col-xs-2 col-md-2 col-lg-2 sideMenu">
  <div class="sideButtonContainer2">
    <!-- populate this container with user's location buttons -->
  </div>
  <div class="sideButtonContainer2">
    <!-- populate this container with remaining location buttons in alpha order -->
  </div>
</div>

        <!-- list of buttons to populate above divs -->
<!-- <button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Alexander Ramsey</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Birch Coulee</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Charles A Lindbergh</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Comstock House</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Folsom House</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Fort Ridgely</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Harkin Store</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Historic Forestville</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Historic Fort Snelling</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">James J Hill House</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Jeffers Petroglyphs</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Lac Qui Parle Mission</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Lower Sioux Agency</button>
<button ng-click="" class="btn btn-info btn-lg btn-block sideButton">Marine Mill</button> -->




<!--  <section ng-repeat="pend in approve.response"> -->
<div class="zach">
      <div class="col">
        <img ng-src="{{}}"/>
        <p>Create Image</p>
      </div>
      <div class="col">
        <img ng-src="{{}}"/>
        <p>Image Not Approved/Needs Edit</p>
      </div>
      <div class="col">
        <img ng-src="{{}}"/>
        <p>Images Approved</p>
      </div>
      <a href="/photoUploader">Go To photoUploader</a>
</div>
