<div class="container">
<div class="col-md-4">
</div>
<!-- <div class="col-md-4">
<h2>Login with Google</h2>
<div id="google">
 <!-- Googles sign-in button brand guidelines page -->
  <!-- <a href="/auth/google" target="_self"><img src="assets/btn_google_signin_light_pressed_web.png"/></a>
</div> -->
<header class="hero-tall-centercontent">
<div class="row"></div>
<div class="col-span-12">
  <h1>Brand Image Manager</h1>
  <h3 class="subtitle">Social Media Management Made Easy</h3>
  <div class="centeredblock">
    <a href="/auth/google" target="_self"><img src="assets/btn_google_signin_light_pressed_web.png"/></a>
  </div>
</div>
</div>

</header>

<!-- <div class="col-md-4">
<h4>Login with Google</h4>
<div id="google">
 <!-- Googles sign-in button brand guidelines page -->
  <!-- <a href="/auth/google" target="_self"><img src="assets/btn_google_signin_light_pressed_web.png"/></a>
</div> -->

<footer class="navbar navbar-fixed-bottom">

</footer>
