<div class="container">
<div class="col-md-4">
</div>




<header class="hero-tall-centercontent">

</div>
<div class="wrapper">
            <div class="t-shirt">
                <canvas width="550" height="450" style="background-color: blue;" id="canvas">Sorry, no canvas available</canvas>
                <img src="views/bat.png" crossorigin="anonymous" id="hedgehog" width="800" height="655" style="display: none" alt="HEJ HOG">
                <!-- <img ng-src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/web04/2012/1/20/14/enhanced-buzz-21522-1327089192-28.jpg" id="hedgehog" style="background-color: green; display: none" alt="Description" /> -->

<hr />
                <a id="redLeft" style="font-size: 36px">LEFT</a>
                <a id="redRight" style="font-size: 36px">RIGHT</a>
                <a id="redBottom" style="font-size: 36px">BOTTOM</a>
                <hr />
                <a id="download" style="font-size: 36px">DOWNLOAD!!!</a>

            </div>

        </div>
</div>
